Package: com.skyglow.snd
Name: Skyglow Notifications Daemon
Version: 1.0
Architecture: iphoneos-arm
Description: Low power tweak that runs in the background and fetches notifications from a server for all of your apps.
Maintainer: Requis
Author: Requis
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>=5.0), com.rpetrich.rocketbootstrap (>= 1.0.3) | firmware (<< 7.0)
Depiction: http://cydia.skyglow.es/depictions/?p=com.skyglow.snd
